/* GENERAL */
.cuerpo{
    margin: 20px;
  }
/* NAVBAR DE TURISMO */
.navbarTurismo {
    background-color: #79e23c;
    display: flex;
    justify-content: center; /* Centrar horizontalmente los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
    margin-bottom: -10px;
}

.navbarTurismo ul {
    list-style: none;
    display: flex; /* Mostrar la lista como flexbox */
    margin: 10px;
    padding: 0;
}


.navbarTurismo ul li a {
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
.navbarTurismo ul li a:hover{
    background-color: #fff;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbarTurismo li a.seleccionado {
    color: black;
}


/* CONTENEDORES DEL CLIMA */
#contenedorClima {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.contendorInfoTuristica #subtitulo{
    text-align: center;
}
#caja1,
#caja2,
#caja3 {
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    flex: 1;
    width: 200px;
    height: 180px;
    margin: 30px;
    color:azure;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
#caja1 {
    background-color: rgba(0,0,0,0.767);
}
#caja2 {
    background-color: darkslateblue;
}
#caja3 {
    background-color: #2ab2ea;
}


#temperatura-valor,
#temperatura-descripcion {
    margin: 5px;
}

#ubicacion {
    margin: 10px 0;
}

#icono-animado {
    margin: 10px auto;
    display: block;
    margin-top: -25px;
}

#viento-velocidad {
    margin: 5px;
    color: #ffffff;
}

h1, h2, h3 {
    margin: 0;
}

/* INFORMACION TURISTICA */
.iconList{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
}

.iconList a{
    flex: 1 1 200px; /* Flex-grow, flex-shrink, flex-basis */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /* Espacio entre elementos */
    text-align: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.iconLink p{
    font-family: Impact;
    font-size: 35px;
    margin-top: 10px;
}
.iconWrapper {
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
}

.iconWrapper img {
    max-width: 180px;
}

.iconLink {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden; 
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: #a58c00;
}

.iconLink:hover {
    background-color: #79e23c; 
    color: #fff;
}


.fa-solid{
    margin-right: 10px;
}

/* GENERAL DE INFORMACION */
#contenido-servicio,#contenido-festividad,#contenido-gastronomia{
    margin-top: 30px;
}
/* INFORMACION DE SERVICIOS */
.contenedorServicios #subtitulo{
    text-align: center;
}

/* INFORMACION DE FESTIVIDADES */
.contenedorFestividad #subtitulo{
    text-align: center;
}